<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>CSV Format Description - Water Level and Flow - Environment Canada</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content=""><link href="/vendor/wet/v13.4.0/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/vendor/wet/v13.4.0/GCWeb/css/theme.min.css" />
<noscript><link rel="stylesheet" href="/vendor/wet/v13.4.0/wet-boew/css/noscript.min.css" /></noscript>
<link rel="stylesheet" href="/vendor/css/fontawesome/css/all.min.css"/>
<link href="/custom/application.css" rel="stylesheet"/>
<link href="/custom/print.css" rel="stylesheet"/>
</head>
<body vocab="http://schema.org/" typeof="WebPage">


<nav>
	<ul id="wb-tphp">
		<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li></ul>
</nav>
<header>
<div id="wb-bnr" class="container">
<div class="row">
    <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
<h2 class="wb-inv">Language selection</h2>
<ul class="list-inline mrgn-bttm-0">
<li>
  <a lang="fr" hreflang="fr" href="//eau.ec.gc.ca/download/csv_help_f.html">
    <span class="hidden-xs" translate="no">Français</span>
    <abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
  </a>
</li>
</ul>
</section>
  <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
<a href="https://www.canada.ca/en.html" property="url">
<img src="/vendor/wet/v13.4.0/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
</a>
<meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada" />
<link property="logo" href="/vendor/wet/v13.4.0/GCWeb/assets/wmms-blk.svg" />
</div>
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
<h2>Search</h2>
      <form action="https://canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
        <div class="form-group wb-srch-qry">
          <label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
          <input name="cdn" value="canada" type="hidden">
          <input name="st" value="s" type="hidden">
          <input name="num" value="10" type="hidden">
          <input name="langs" value="en" type="hidden">
          <input name="st1rt" value="1" type="hidden">
          <input name="s5bm3ts21rch" value="x" type="hidden">
          <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca">
          <input type="hidden" name="_charset_" value="UTF-8">
          <datalist id="wb-srch-q-ac">
          </datalist>
        </div>
        <div class="form-group submit">
          <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
        </div>
      </form></section>
</div>
</div>
<hr>
<div class="container">
<div class="row"><div class="col-md-8">
      <nav class="gcweb-menu" typeof="SiteNavigationElement">
<h2 class="wb-inv">Menu</h2>
<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
<ul role="menu" aria-orientation="vertical" data-ajax-replace="/data/pco-fetch/sitemenu-v2-en.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li></ul>
</nav>
    </div></div>
</div>
<nav id="wb-bc" property="breadcrumb">
<h2>You are here:</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
<li><a href="http://www.canada.ca/en/index.html">Home</a></li><li><a href="http://www.canada.ca/en/services/environment/index.html">Environment and natural resources</a></li><li><a href="/index_e.html">Water level and flow</a></li><li><a href="/mainmenu/historical_data_index_e.html">Historical Data</a></li><li><a href="/search/historical_e.html">Hydrometric Data Search</a></li>		</ol>
	</div>
</nav>
</header>
<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
<div class="container">
    <noscript>
    <div class="alert alert-warning">
      <p>JavaScript in your browser is turned off; for the site to function properly please enable JavaScript.</p>
    </div>
  </noscript>
    <h1 property="name" id="wb-cont">CSV Format Description</h1></div>
<div class="container">
  <p>CSV file format stores data in plain-text form, separated by commas.</p>
<section>
  <h2>Historical Hydrometric Data Download</h2>
  <section>
    <h3>Daily Data</h3>
    <section>
      <h4>Comma Separated Values</h4>
      <p> A time series per available parameters, with a header row between each time series.</p>
      <section>
        <h5>Column: ID</h5>
        <p>The unique 7-character station identification, in the format ddaaddd, where</p>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: PARAM</h5>
        <p>The parameter codes, where</p>
        <ul>
          <li>1: discharge (flow)</li>
          <li>2: water level</li>
        </ul>
      </section>
      <section>
        <h5>Column: TYPE</h5>
        <p>The data type, where</p>
        <ul>
          <li>1: values in <abbr title="Cubic metre(s) per second">m<sup>3</sup>/s</abbr>)</li>
          <li>8: values in m (to mm precision)</li>
          <li>9: values in m (to cm precision)</li>
        </ul>
      </section>
      <section>
        <h5>Column: YEAR</h5>
        <p>The year, in the format yyyy.</p>
      </section>
      <section>
        <h5>Column: DD</h5>
        <p>The day of the month, in the format dd.</p>
      </section>
      <section>
        <h5>Columns: JAN, FEB, MAR,AVR,MAR,JUN,JUL,AUG,SEP,OCT,NOV,DEC,SYM</h5>
        <p>The values. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
    </section>
    <section>
      <h4>Date-Data Format</h4>
      <p>A time series per available parameters.</p>
      <section>
        <h5>Column: ID</h5>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: PARAM</h5>
        <p>The parameter codes, where</p>
        <ul>
          <li>1: discharge (flow)</li>
          <li>2: water level</li>
        </ul>
      </section>
      <section>
        <h5>Column: Date</h5>
        <p>The date, in the format yyyy/mm/dd.</p>
      </section>
      <section>
        <h5>Columns: Value,SYM</h5>
        <p>The values. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
    </section>
    <section>
      <h4>Julian Date-Data Format</h4>
      <p>A time series per available parameters.</p>
      <section>
        <h5>Column: ID</h5>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: PARAM</h5>
        <p>The parameter codes, where</p>
        <ul>
          <li>1: discharge (flow)</li>
          <li>2: water level</li>
        </ul>
      </section>
      <section>
        <h5>Column: YEAR</h5>
        <p>The year, in the format yyyy.</p>
      </section>
      <section>
        <h5>Column: DD</h5>
        <p>The day of the year, in the Julian date format.</p>
      </section>
      <section>
        <h5>Columns: Value,SYM</h5>
        <p>The values. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
    </section>
  </section>
  <section>
    <h3>Monthly Data</h3>
    <section>
      <h4>Comma Separated Values</h4>
      <p> A time series per available parameters, with a header row between each time series.</p>
      <section>
        <h5>Column: ID</h5>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: PARAM</h5>
        <p>The parameter codes, where</p>
        <ul>
          <li>1: discharge (flow)</li>
          <li>2: water level</li>
        </ul>
      </section>
      <section>
        <h5>Column: TYPE</h5>
        <p>The data type, where</p>
        <ul>
          <li>1: values in <abbr title="Cubic metre(s) per second">m<sup>3</sup>/s</abbr>)</li>
          <li>8: values in m (to mm precision)</li>
          <li>9: values in m (to cm precision)</li>
        </ul>
      </section>
      <section>
        <h5>Column: YEAR</h5>
        <p>The year, in the format yyyy.</p>
      </section>
      <section>
        <h5>Columns: JAN, FEB, MAR,AVR,MAR,JUN,JUL,AUG,SEP,OCT,NOV,DEC,SYM</h5>
        <p>The values. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
      <section>
        <h5>Column:Ann</h5>
        <p>The sum of the monthly values.</p>
      </section>
      <section>
    </section>
    <section>
      <h4>Date-Data Format</h4>
      <p>A time series per available parameters.</p>
      <section>
        <h5>Column: ID</h5>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: PARAM</h5>
        <p>The parameter codes, where</p>
        <ul>
          <li>1: discharge (flow)</li>
          <li>2: water level</li>
        </ul>
      </section>
      <section>
        <h5>Column: MM--YYYY</h5>
        <p>The date, in the format mm--yyyy.</p>
      </section>
      <section>
        <h5>Column: Value</h5>
        <p>The value.</p>
      </section>
    </section>
  </section>
  <section>
    <h3>Annual Extremes Data</h3>
    <section>
      <h4>Comma Separated Values</h4>
      <p> A time series per available parameters.</p>
      <section>
        <h5>Column: ID</h5>
        <p>The unique 7-character station identification, in the format ddaaddd, where</p>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: PARAM</h5>
        <p>The parameter codes, where</p>
        <ul>
          <li>1: discharge (flow)</li>
          <li>2: water level</li>
        </ul>
      </section>
      <section>
        <h5>Column: YEAR,SYM</h5>
        <p>The year, in the format yyyy. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
      <section>
        <h5>Column:HH:MM</h5>
        <p>The time,in the format hh:mm.</p>
      </section>
      <section>
        <h5>Column:TIMEZONE</h5>
        <p>The time zone, where</p>
        <ul>
          <li>PST</li>
          <li>MST</li>
          <li>CST</li>
          <li>EST</li>
          <li>AST</li>
        </ul>
      </section>
      <section>
        <h5>Column:MM--DD</h5>
        <p>The date, in the format mm--dd</p>
      </section>
      <section>
        <h5>Columns:MAX,SYM</h5>
        <p>The maximum value. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
      <section>
        <h5>Columns:MIN,SYM</h5>
        <p>The minimum value. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
    </section>
  </section>
  <section>
    <h3>Peak Data</h3>
    <section>
      <h4>Comma Separated Values</h4>
      <p> A time series per available parameters.</p>
      <section>
        <h5>Column: ID</h5>
        <p>The unique 7-character station identification, in the format ddaaddd, where</p>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: PARAM</h5>
        <p>The parameter codes, where</p>
        <ul>
          <li>1: discharge (flow)</li>
          <li>2: water level</li>
        </ul>
      </section>
      <section>
        <h5>Column: YEAR,SYM</h5>
        <p>The year, in the format yyyy. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
      <section>
        <h5>Column:HH:MM</h5>
        <p>The time,in the format hh:mm.</p>
      </section>
      <section>
        <h5>Column:TIMEZONE</h5>
        <p>The time zone, where</p>
        <ul>
          <li>PST</li>
          <li>MST</li>
          <li>CST</li>
          <li>EST</li>
          <li>AST</li>
        </ul>
      </section>
      <section>
        <h5>Column:MM--DD</h5>
        <p>The date, in the format mm--dd</p>
      </section>
      <section>
        <h5>Columns:MAX,SYM</h5>
        <p>The maximum value. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
      <section>
        <h5>Columns:MIN,SYM</h5>
        <p>The minimum value. The associated columns SYM may be empty or contain the following</p>
        <ul>
          <li>A: partial day</li>
          <li>B: ice conditions</li>
          <li>D: dry</li>
          <li>E: estimated</li>
          <li>S: sample(s) collected this day</li>
        </ul>
      </section>
    </section>
  </section>
  <section>
    <h3>Station Information</h3>
    <section>
      <h4>Comma Seplarated Values</h4>
      <p>The metadata of the station.</p>
      <section>
        <h5>Column: Station Number</h5>
        <p>The unique 7-character station identification, in the format ddaaddd, where</p>
        <ul>
          <li>dd: 2 digits for the major drainage basin</li>
          <li>aa: 1 alphabetic character each for the sub-basin and sub-sub-basin</li>
          <li>ddd: 3 digits for the specific station within the sub-sub-basin</li>
        </ul>
      </section>
      <section>
        <h5>Column: Station Name</h5>
        <p>The name of the station. This field is enclosed in quotes since it may contain commas.</p>
      </section>
      <section>
        <h5>Column: Province</h5>
        <p>The province code where the station is located, where</p>
        <ul>
          <li>AB: Alberta </li>
          <li>BC: British Columbia  </li>
          <li>MB: Manitoba </li>
          <li>NB: New Brunswick</li>
          <li>NL: Newfoundland and Labrador</li>
          <li>NS: Nova Scotia</li>
          <li>NT: Northwest Territories</li>
          <li>NU: Nunavut</li>
          <li>ON: Ontario</li>
          <li>PE: Prince Edward Island</li>
          <li>QC: Quebec</li>
          <li>SK: Saskatchewan</li>
          <li>YT: Yukon Territory</li>
        </ul>
      </section>
      <section>
        <h5>Column: Status</h5>
        <p>The status of the station, where</p>
        <ul>
          <li>A: active</li>
          <li>D: discontinued</li>
        </ul>
      </section>
      <section>
        <h5>Column: Latitude</h5>
        <p>The latitude of the station, in decimal degrees.</p>
      </section>
      <section>
        <h5>Column: Longitude</h5>
        <p>The longitude of the station, in decimal degrees.</p>
      </section>
      <section>
        <h5>Column: Year From</h5>
        <p>The first year for which there is data available, in the format yyyy.</p>
      </section>
      <section>
        <h5>Column: Year To</h5>
        <p>The last year for which there is data available, in the format yyyy.</p>
      </section>
      <section>
        <h5>Column: Drainage Area</h5>
        <p>The gross drainage area covered by the station, in <abbr title="Square kilometre(s)">km<sup>2</sup></abbr>.</p>
      </section>
      <section>
        <h5>Column: Sediment</h5>
        <p>A flag indicating if there is a sediment program at the station, where</p>
        <ul>
          <li>Y: yes</li>
          <li>N: no</li>
        </ul>
      </section>
      <section>
        <h5>Column: RHBN</h5>
        <p>A flag indicating if the station is part of the RHBN, where</p>
        <ul>
          <li>Y: yes</li>
          <li>N: no</li>
        </ul>
      </section>
      <section>
        <h5>Column: Real-Time</h5>
        <p>A flag indicating if the data is available in real-time, where</p>
        <ul>
          <li>Y: yes</li>
          <li>N: no</li>
        </ul>
      </section>
      <section>
        <h5>Column: Datum Name</h5>
        <p>The name of the datum used.</p>
      </section>
    </section>
  </section>
</section>
<div class="clearfix"></div>
<!-- CustomScriptsStart -->
<script type="text/javascript" src="/js/search.js" ></script>
<!-- CustomScriptsEnd -->
</div>
<section id="water-topics" class="container hidden-print">
  <h2 class="wb-inv">What we are doing</h2>
  <div class="row">
    <section class="col-lg-4 col-md-6">
      <h3>Real-time Data</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/search/real_time_e.html">Real-time Station Search</a></li>
        <li><a href="/map/index_e.html?type=real_time&amp;default_marker=data_availability">Real-time Map Search</a></li>
        <li><a href="/my_station_list/index_e.html">My Station List</a></li>
      </ul>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Historical Data</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/search/historical_e.html">Historical Station Search</a></li>
        <li><a href="/map/index_e.html?type=historical">Historical Map Search</a></li>
        <li><a href="/search/statistics_e.html">Additional Statistics</a></li>
      </ul>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Resources</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/disclaimer_info_e.html">Disclaimer for Hydrometric Information</a></li>
        <li><a href="/contactus/faq_e.html">Frequently Asked Questions</a></li>
                  <li><a href="https://www.canada.ca/en/environment-climate-change/services/meteorological-service-standards/publications/hydrometric-data-information.html">Hydrometric Data and Information Service Standards</a></li>
              </ul>
    </section>
  </div>
</section>
<section class="pagedetails container">
	<h2 class="wb-inv">Page details</h2>
  <div class="row"><div class="col-sm-8 col-md-9 col-lg-9">
<div data-ajax-replace="">
	<div class="row row-no-gutters">
    <div class="col-sm-9 col-md-6 col-lg-5">
      <a href="https://weather.gc.ca/mainmenu/water_contact_us_e.html" target="_blank" class="btn btn-default btn-block"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>Feedback<span class="wb-inv"> about this web site</span></a>		</div>
	</div>
</div>
			</div>
	</div>
			<dl id="wb-dtmd">
				<dt>Date modified:</dt>
				<dd><time property="dateModified">2026-09-11</time></dd>
			</dl>
</section>
</main>
<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>
  <div class="gc-contextual"><div class="container">
    <nav>
        <h3>Environment and natural resources</h3>
        <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
            <li><a href="https://weather.gc.ca/mainmenu/water_contact_us_e.html" target="_blank">Contact us</a></li>
            <li><a href="https://www.canada.ca/en/services/environment/our-environment.html">Our environment</a></li>
            <li><a href="https://www.canada.ca/en/services/environment/our-environment/nature-based-climate-solutions.html">Nature-based climate solutions</a></li>
        </ul>
    </nav>
</div></div>
	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Government of Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
					<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
					<li><a href="https://www.canada.ca/en/government/system.html">About government</a></li></ul>
				<h4><span class="wb-inv">Themes and topics</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
					<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finance</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous peoples</a></li>
					<li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
					<li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li></ul>
			</nav>
		</div>
	</div>
	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Government of Canada Corporate</h3>
				<ul>
					<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/vendor/wet/v13.4.0/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
			</div>
		</div>
	</div>
</footer>
<script src="/vendor/js/jquery-2.2.4.min.js"></script>
<script src="/vendor/wet/v13.4.0/wet-boew/js/wet-boew.min.js"></script>
<script src="/vendor/wet/v13.4.0/GCWeb/js/theme.min.js"></script>
<script src="/vendor/js/moment.js"></script>
<script src="/js/translations.js"></script>
<script src="/js/application.js"></script>
<script src="/js/contact_us.js"></script>
</body>
</html>
