<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Historical Hydrometric Data Search - Water Level and Flow - Environment Canada</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content=""><link href="/vendor/wet/v13.4.0/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/vendor/wet/v13.4.0/GCWeb/css/theme.min.css" />
<noscript><link rel="stylesheet" href="/vendor/wet/v13.4.0/wet-boew/css/noscript.min.css" /></noscript>
<link rel="stylesheet" href="/vendor/css/fontawesome/css/all.min.css"/>
<link href="/custom/application.css" rel="stylesheet"/>
<link href="/custom/print.css" rel="stylesheet"/>
</head>
<body vocab="http://schema.org/" typeof="WebPage">


<nav>
	<ul id="wb-tphp">
		<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li></ul>
</nav>
<header>
<div id="wb-bnr" class="container">
<div class="row">
    <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
<h2 class="wb-inv">Language selection</h2>
<ul class="list-inline mrgn-bttm-0">
<li>
  <a lang="fr" hreflang="fr" href="//eau.ec.gc.ca/search/historical_f.html">
    <span class="hidden-xs" translate="no">Français</span>
    <abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
  </a>
</li>
</ul>
</section>
  <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
<a href="https://www.canada.ca/en.html" property="url">
<img src="/vendor/wet/v13.4.0/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
</a>
<meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada" />
<link property="logo" href="/vendor/wet/v13.4.0/GCWeb/assets/wmms-blk.svg" />
</div>
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
<h2>Search</h2>
      <form action="https://canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
        <div class="form-group wb-srch-qry">
          <label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
          <input name="cdn" value="canada" type="hidden">
          <input name="st" value="s" type="hidden">
          <input name="num" value="10" type="hidden">
          <input name="langs" value="en" type="hidden">
          <input name="st1rt" value="1" type="hidden">
          <input name="s5bm3ts21rch" value="x" type="hidden">
          <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca">
          <input type="hidden" name="_charset_" value="UTF-8">
          <datalist id="wb-srch-q-ac">
          </datalist>
        </div>
        <div class="form-group submit">
          <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
        </div>
      </form></section>
</div>
</div>
<hr>
<div class="container">
<div class="row"><div class="col-md-8">
      <nav class="gcweb-menu" typeof="SiteNavigationElement">
<h2 class="wb-inv">Menu</h2>
<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
<ul role="menu" aria-orientation="vertical" data-ajax-replace="/data/pco-fetch/sitemenu-v2-en.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li></ul>
</nav>
    </div></div>
</div>
<nav id="wb-bc" property="breadcrumb">
<h2>You are here:</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
<li><a href="http://www.canada.ca/en/index.html">Home</a></li><li><a href="http://www.canada.ca/en/services/environment/index.html">Environment and natural resources</a></li><li><a href="/index_e.html">Water level and flow</a></li><li><a href="/mainmenu/historical_data_index_e.html">Historical Data</a></li>		</ol>
	</div>
</nav>
</header>
<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
<div class="container">
    <noscript>
    <div class="alert alert-warning">
      <p>JavaScript in your browser is turned off; for the site to function properly please enable JavaScript.</p>
    </div>
  </noscript>
    <h1 property="name" id="wb-cont">Historical Hydrometric Data Search</h1></div>
<div class="container">
  <div class="row mrgn-bttm-md">
  <div class="col-lg-8">
        <details id="saved-list">
      <summary><h2 class="h3">Saved List</h2></summary>
      <ul class="saved-list mrgn-tp-sm mrgn-bttm-sm">
    <li><a href="/report/historical_e.html?saved_list=OfflineEvidence">OfflineEvidence</a> <a href="/search/delete_station_list_e.html?saved_list=OfflineEvidence&amp;list_type=historical" class="pull-right">Delete</a></li>
  </ul>
    </details>
    <p class="mrgn-tp-sm">Search for a station by entering all or part of a station name or station number. Multiple station numbers (up to 20) can also be entered as comma-separated values in the form of "99AA999,99AAA99,etc".</p>
    <div class="wb-frmvld">
      <form id="search-form" action="/search/historical_results_e.html" method="get">
        <input type="submit" value="Search" class="btn btn-primary mrgn-bttm-md">
        <noscript><h2>Search by Station</h2></noscript>
        <div class="brdr mrgn-bttm-md pdng-md">
          <p class="wb-inv">Search Options</p>
          <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="station-name-search">
      <input type="radio" id="station-name-search" name="search_type" value="station_name" checked>
      <span class="field-name">Station Name</span>
    </label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <label for="station-name" class="wb-inv">Station Name</label>
    <input type="text" id="station-name" name="station_name" class="form-control" placeholder="Enter Full or Partial Name" maxlength="100" pattern="^[A-Za-z0-9 \(\)\/;&quot;ÀÂÄÇÉÈÊËÎÏÔÙÛÜàâäçéèêëîïôùûü',.#\-]{1,100}$">
  </div>
</div>


          <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="station-number-search">
      <input type="radio" id="station-number-search" name="search_type" value="station_number">
      <span class="field-name">Station Number</span>
    </label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <label for="station-number" class="wb-inv">Station Number</label>
    <input type="text" id="station-number" name="station_number" class="form-control" placeholder="Enter Full or Partial Number" maxlength="159" pattern="^([A-Za-z0-9]{1,7}|(\d{2}([A-Za-z]{2}\d{3}|[A-Za-z]{3}\d{2}))(,\d{2}([A-Za-z]{2}\d{3}|[A-Za-z]{3}\d{2})){1,19})$">
  </div>
</div>
          <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="province-search">
      <input type="radio" id="province-search" name="search_type" value="province">
      Province or Territory    </label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <label for="province" class="wb-inv">Province or Territory</label>
    <select id="province" name="province" class="form-control">
            <option value="all">All Provinces/Territories</option>
            <option value="AB" selected>Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="MB">Manitoba</option>
            <option value="NB">New Brunswick</option>
            <option value="NL">Newfoundland and Labrador</option>
            <option value="NT">Northwest Territories</option>
            <option value="NS">Nova Scotia</option>
            <option value="NU">Nunavut</option>
            <option value="ON">Ontario</option>
            <option value="PE">Prince Edward Island</option>
            <option value="QC">Quebec</option>
            <option value="SK">Saskatchewan</option>
            <option value="YT">Yukon</option>
          </select>
  </div>
</div>          <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="basin-search">
      <input type="radio" id="basin-search" name="search_type" value="basin"/>
      Drainage Basin    </label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <label for="basin" class="wb-inv">Drainage Basin</label>
    <select id="basin" name="basin" class="form-control">
            <option value="01">01 Maritime Provinces</option>
            <option value="02">02 St. Lawrence</option>
            <option value="03">03 Northern Quebec and Labrador</option>
            <option value="04">04 Southwest Hudson Bay</option>
            <option value="05">05 Nelson River</option>
            <option value="06">06 Western Hudson Bay</option>
            <option value="07">07 Great Slave Lake</option>
            <option value="08">08 Pacific</option>
            <option value="09">09 Yukon River</option>
            <option value="10">10 Arctic</option>
            <option value="11">11 Mississippi River</option>
          </select>
  </div>
</div>          <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="coordinate-search">
      <input type="radio" id="coordinate-search" name="search_type" value="coordinate">
      Bounding Coordinates    </label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">(Enter degrees, minutes, seconds as dddmmss)</div>
</div>
<div class="row mrgn-bttm-sm">
  <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
    <p class="text-center">North Latitude</p>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="north-degrees" class="wb-inv">
          <span class="field-name">North Latitude Degrees</span>
        </label>
        <input type="number" id="north-degrees" name="north_degrees" class="form-control input-sm" placeholder="42-83" min="42" max="83">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="north-minutes" class="wb-inv">
          <span class="field-name">North Latitude Minutes</span>
        </label>
        <input type="number" id="north-minutes" name="north_minutes" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="north-seconds" class="wb-inv">
          <span class="field-name">North Latitude Seconds</span>
        </label>
        <input type="number" id="north-seconds" name="north_seconds" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
    </div>
  </div>
</div>
<div class="row mrgn-bttm-sm">
  <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
    <p class="text-center">South Latitude</p>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="south-degrees" class="wb-inv">
          <span class="field-name">South Latitude Degrees</span>
        </label>
        <input type="number" id="south-degrees" name="south_degrees" class="form-control input-sm" placeholder="42-83" min="42" max="83">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="south-minutes" class="wb-inv">
          <span class="field-name">South Latitude Minutes</span>
        </label>
        <input type="number" id="south-minutes" name="south_minutes" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="south-seconds" class="wb-inv">
          <span class="field-name">South Latitude Seconds</span>
        </label>
        <input type="number" id="south-seconds" name="south_seconds" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
    </div>
  </div>
</div>
<div class="row mrgn-bttm-sm">
  <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
    <p class="text-center">East Longitude</p>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="east-degrees" class="wb-inv">
          <span class="field-name">East Longitude Degrees</span>
        </label>
        <input type="number" id="east-degrees" name="east_degrees" class="form-control input-sm" placeholder="53-141" min="53" max="141">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="east-minutes" class="wb-inv">
          <span class="field-name">East Longitude Minutes</span>
        </label>
        <input type="number" id="east-minutes" name="east_minutes" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mrgn-bttm-sm">
        <label for="east-seconds" class="wb-inv">
          <span class="field-name">East Longitude Seconds</span>
        </label>
        <input type="number" id="east-seconds" name="east_seconds" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
    </div>
  </div>
</div>
<div class="row mrgn-bttm-sm">
  <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12">
    <p class="text-center">West Longitude</p>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mrgn-bttm-sm">
        <label for="west-degrees" class="wb-inv">
          <span class="field-name">West Longitude Degrees</span>
        </label>
        <input type="number" id="west-degrees" name="west_degrees" class="form-control input-sm" placeholder="53-141" min="53" max="141">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mrgn-bttm-sm">
        <label for="west-minutes" class="wb-inv">
          <span class="field-name">West Longitude Minutes</span>
        </label>
        <input type="number" id="west-minutes" name="west_minutes" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mrgn-bttm-sm">
        <label for="west-seconds" class="wb-inv">
          <span class="field-name">West Longitude Seconds</span>
        </label>
        <input type="number" id="west-seconds" name="west_seconds" class="form-control input-sm" placeholder="00-59" min="0" max="59">
      </div>
    </div>
  </div>
</div>        </div>
        <details class="mrgn-bttm-md" open>
          <summary class="mrgn-bttm-sm"><span class="h3">Data Attributes</span></summary>
          <div class="mrgn-tp-md mrgn-rght-md">
            <div class="row">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="parameter-type">Parameter Type</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="parameter-type" name="parameter_type" class="form-control">
            <option value="all" selected>All Parameters</option>
      <option value="flows">Flows</option>
      <option value="levels">Levels</option>
          </select>
  </div>
</div>
            <div class="row mrgn-tp-md mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <span><b>For years from</b></span>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
    <label class="wb-inv" for="start-year">
      <span class="field-name">Start Year</span>
    </label>
    <input type="number" id="start-year" name="start_year" class="form-control" value="1850" min="1850" max="2026"/>
  </div>
  <div class="col-lg-1 col-md-2 col-sm-1 col-xs-2 text-center">
    <span>to</span>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
    <label class="wb-inv" for="end-year">
      <span class="field-name">End Year</span>
    </label>
    <input type="number" id="end-year" name="end_year" class="form-control" value="2026" min="1850" max="2026"/>
  </div>
</div>            <div class="row">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="minimum-years">
      <span class="field-name">Minimum number of years</span>
    </label>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-2 col-xs-5">
    <input type="number" id="minimum-years" name="minimum_years" class="form-control" min="1"/>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-7 checkbox">
    <label for="latest-year">
      <input type="checkbox" id="latest-year" name="latest_year" value="Y"/>
      up to and including the latest year?    </label>
  </div>
</div>          </div>
        </details>
        <details class="mrgn-bttm-md" open>
          <summary><span class="h3">Station Attributes</span></summary>
          <div class="mrgn-tp-md mrgn-rght-md">
            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="regulation">Regulation</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="regulation" name="regulation" class="form-control">
      <option value="all" selected="selected">All</option>
      <option value="R">Regulated</option>
      <option value="N">Natural</option>
    </select>
  </div>
</div>            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="station-status">Station Status</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="station-status" name="station_status" class="form-control">
      <option value="all" selected="selected">All</option>
      <option value="A">Active</option>
      <option value="D">Discontinued</option>
    </select>
  </div>
</div>            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="operation-schedule">Operation Schedule</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="operation-schedule" name="operation_schedule" class="form-control">
            <option value="all">All Operation Schedules</option>
            <option value="S">Seasonal</option>
            <option value="C">Continuous</option>
            <option value="M">Miscellaneous</option>
          </select>
  </div>
</div>
            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="operating-agency">Operating Agency</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="operating-agency" name="operating_agency" class="form-control">
      <option value="all" selected>All Agencies</option>
            <option value="ABITIBI CONSOLIDATED">ABITIBI CONSOLIDATED</option>
            <option value="ADM. DE LA VOIE MARITIME DU SAINT-LAURENT">ADM. DE LA VOIE MARITIME DU SAINT-LAURENT</option>
            <option value="ALBERTA ENVIRONMENT AND PARKS">ALBERTA ENVIRONMENT AND PARKS</option>
            <option value="ALBERTA ENVIRONMENTAL PROTECTION">ALBERTA ENVIRONMENTAL PROTECTION</option>
            <option value="ALCAN SMELTERS AND CHEMICALS LTD.">ALCAN SMELTERS AND CHEMICALS LTD.</option>
            <option value="ATOMIC ENERGY OF CANADA">ATOMIC ENERGY OF CANADA</option>
            <option value="B.C. MINISTRY OF ENVIRONMENT">B.C. MINISTRY OF ENVIRONMENT</option>
            <option value="BLACK MOUNTAIN IRRIGATION DISTRICT">BLACK MOUNTAIN IRRIGATION DISTRICT</option>
            <option value="BOISE CASCADE CANADA LIMITED">BOISE CASCADE CANADA LIMITED</option>
            <option value="BRITISH COLUMBIA ELECTRIC RAILWAY COMPANY">BRITISH COLUMBIA ELECTRIC RAILWAY COMPANY</option>
            <option value="BRITISH COLUMBIA HYDRO AND POWER AUTHORITY">BRITISH COLUMBIA HYDRO AND POWER AUTHORITY</option>
            <option value="CANADA LAND AND IRRIGATION COMPANY">CANADA LAND AND IRRIGATION COMPANY</option>
            <option value="CANADIAN COLLIERS (DUNSMUIR) LIMITED">CANADIAN COLLIERS (DUNSMUIR) LIMITED</option>
            <option value="CANADIAN FORESTRY SERVICE (DOE) (CANADA)">CANADIAN FORESTRY SERVICE (DOE) (CANADA)</option>
            <option value="CANADIAN PACIFIC RAILWAY">CANADIAN PACIFIC RAILWAY</option>
            <option value="CHURCHILL FALLS (LABRADOR) CORPORATION LIMITED">CHURCHILL FALLS (LABRADOR) CORPORATION LIMITED</option>
            <option value="CHURCHILL RIVER POWER COMPANY">CHURCHILL RIVER POWER COMPANY</option>
            <option value="CITY OF CALGARY WATER WORKS DEPARTMENT">CITY OF CALGARY WATER WORKS DEPARTMENT</option>
            <option value="CITY OF EDMUNSTON">CITY OF EDMUNSTON</option>
            <option value="CITY OF VICTORIA">CITY OF VICTORIA</option>
            <option value="CITY OF WINNIPEG HYDRO-ELECTRIC SYSTEM">CITY OF WINNIPEG HYDRO-ELECTRIC SYSTEM</option>
            <option value="COMINCO LIMITED">COMINCO LIMITED</option>
            <option value="DEER LAKE POWER COMPANY LTD.">DEER LAKE POWER COMPANY LTD.</option>
            <option value="DOMINION TEXTILES COMPANY">DOMINION TEXTILES COMPANY</option>
            <option value="DOMTAR PULP AND PAPER COMPANY">DOMTAR PULP AND PAPER COMPANY</option>
            <option value="EDDY FOREST PRODUCTS LIMITED">EDDY FOREST PRODUCTS LIMITED</option>
            <option value="FISHERIES AND OCEANS CANADA">FISHERIES AND OCEANS CANADA</option>
            <option value="GREAT LAKES POWER COMPANY LIMITED">GREAT LAKES POWER COMPANY LIMITED</option>
            <option value="GREAT NORTHERN POWER COMPANY">GREAT NORTHERN POWER COMPANY</option>
            <option value="GREATER WINNIPEG WATER AND WASTE DEPARTMENT">GREATER WINNIPEG WATER AND WASTE DEPARTMENT</option>
            <option value="GULF POWER COMPANY">GULF POWER COMPANY</option>
            <option value="HARDY ASSOCIATES (1978 LTD)">HARDY ASSOCIATES (1978 LTD)</option>
            <option value="HINTON FORESTRY SCHOOL">HINTON FORESTRY SCHOOL</option>
            <option value="INTERNATIONAL LAKE SUPERIOR BOARD OF CONTROL">INTERNATIONAL LAKE SUPERIOR BOARD OF CONTROL</option>
            <option value="INTERNATIONAL NIAGARA COMMITTEE">INTERNATIONAL NIAGARA COMMITTEE</option>
            <option value="INTERNATIONAL NICKEL COMPANY OF CANADA LIMITED">INTERNATIONAL NICKEL COMPANY OF CANADA LIMITED</option>
            <option value="INTERNATIONAL ST. LAWRENCE RIVER BOARD OF CONTROL">INTERNATIONAL ST. LAWRENCE RIVER BOARD OF CONTROL</option>
            <option value="IRON ORE COMPANY OF CANADA LIMITED">IRON ORE COMPANY OF CANADA LIMITED</option>
            <option value="LA COMPAGNIE ALUMINIUM DU CANADA">LA COMPAGNIE ALUMINIUM DU CANADA</option>
            <option value="LA COMPAGNIE PRICE LIMITEE">LA COMPAGNIE PRICE LIMITEE</option>
            <option value="LAKE OF THE WOODS CONTROL BOARD">LAKE OF THE WOODS CONTROL BOARD</option>
            <option value="LETHBRIDGE NORTHERN IRRIGATION DISTRICT">LETHBRIDGE NORTHERN IRRIGATION DISTRICT</option>
            <option value="MACLAREN-QUEBEC POWER COMPANY">MACLAREN-QUEBEC POWER COMPANY</option>
            <option value="MANITOBA HYDRO">MANITOBA HYDRO</option>
            <option value="MANITOBA TRANSPORTATION AND INFRASTRUCTURE">MANITOBA TRANSPORTATION AND INFRASTRUCTURE</option>
            <option value="MANITOBA WATER STEWARDSHIP">MANITOBA WATER STEWARDSHIP</option>
            <option value="MINISTERE DE L'ENVIRONNEMENT DU QUEBEC">MINISTERE DE L'ENVIRONNEMENT DU QUEBEC</option>
            <option value="NEW BRUNSWICK DEPARTMENT OF THE ENVIRONMENT">NEW BRUNSWICK DEPARTMENT OF THE ENVIRONMENT</option>
            <option value="NEW BRUNSWICK ELECTRIC POWER COMMISSION">NEW BRUNSWICK ELECTRIC POWER COMMISSION</option>
            <option value="NEWFOUNDLAND AND LABRADOR HYDRO">NEWFOUNDLAND AND LABRADOR HYDRO</option>
            <option value="NEWFOUNDLAND LIGHT AND POWER COMPANY LIMITED">NEWFOUNDLAND LIGHT AND POWER COMPANY LIMITED</option>
            <option value="OCEAN SCIENCE AND SURVEYS (DFO) (CANADA)">OCEAN SCIENCE AND SURVEYS (DFO) (CANADA)</option>
            <option value="ONTARIO MINISTRY OF THE ENVIRONMENT">ONTARIO MINISTRY OF THE ENVIRONMENT</option>
            <option value="ONTARIO POWER GENERATION">ONTARIO POWER GENERATION</option>
            <option value="ORILLIA LIGHT AND POWER">ORILLIA LIGHT AND POWER</option>
            <option value="PEMBROKE ELECTRIC LIGHT COMPANY">PEMBROKE ELECTRIC LIGHT COMPANY</option>
            <option value="PRAIRIE FARM REHABILITATION ADMINISTRATION">PRAIRIE FARM REHABILITATION ADMINISTRATION</option>
            <option value="PRIVATE">PRIVATE</option>
            <option value="PUBLIC WORKS AND GOVERNMENT SERVICES CANADA">PUBLIC WORKS AND GOVERNMENT SERVICES CANADA</option>
            <option value="QUEBEC CARTIER MINING COMPANY">QUEBEC CARTIER MINING COMPANY</option>
            <option value="QUEBEC HYDRO-ELECTRIC COMMISSION">QUEBEC HYDRO-ELECTRIC COMMISSION</option>
            <option value="QUEBEC NORTH SHORE PAPER COMPANY">QUEBEC NORTH SHORE PAPER COMPANY</option>
            <option value="SAINT-RAYMOND PAPER COMPANY">SAINT-RAYMOND PAPER COMPANY</option>
            <option value="SASKATCHEWAN RESEARCH COUNCIL">SASKATCHEWAN RESEARCH COUNCIL</option>
            <option value="SASKATCHEWAN WATER CORPORATION">SASKATCHEWAN WATER CORPORATION</option>
            <option value="SASKATCHEWAN WATERSHED AUTHORITY">SASKATCHEWAN WATERSHED AUTHORITY</option>
            <option value="SPRUCE FALLS POWER AND PAPER COMPANY">SPRUCE FALLS POWER AND PAPER COMPANY</option>
            <option value="ST. LAWRENCE SEAWAY AUTHORITY">ST. LAWRENCE SEAWAY AUTHORITY</option>
            <option value="TRANSALTA UTILITIES CORPORATION">TRANSALTA UTILITIES CORPORATION</option>
            <option value="TRANSPORT CANADA">TRANSPORT CANADA</option>
            <option value="TWIN FALLS POWER CORPORATION LIMITED">TWIN FALLS POWER CORPORATION LIMITED</option>
            <option value="UNITED STATES GEOLOGICAL SURVEY">UNITED STATES GEOLOGICAL SURVEY</option>
            <option value="UNIVERSITE DE MONTREAL">UNIVERSITE DE MONTREAL</option>
            <option value="UNIVERSITY OF ALBERTA">UNIVERSITY OF ALBERTA</option>
            <option value="UNIVERSITY OF ILLINOIS">UNIVERSITY OF ILLINOIS</option>
            <option value="UNIVERSITY OF SASKATCHEWAN">UNIVERSITY OF SASKATCHEWAN</option>
            <option value="VANCOUVER POWER COMPANY">VANCOUVER POWER COMPANY</option>
            <option value="VILLE DE QUEBEC">VILLE DE QUEBEC</option>
            <option value="VILLE DE SHERBROOKE">VILLE DE SHERBROOKE</option>
            <option value="WATER SECURITY AGENCY">WATER SECURITY AGENCY</option>
            <option value="WATER SURVEY OF CANADA (DOE) (CANADA)">WATER SURVEY OF CANADA (DOE) (CANADA)</option>
            <option value="WEST KOOTENAY POWER">WEST KOOTENAY POWER</option>
            <option value="YUKON ENERGY">YUKON ENERGY</option>
          </select>
  </div>
</div>
            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="gross-drainage-operator">
      <span class="field-name">Gross Drainage Area (<abbr title="Square kilometre(s)">km<sup>2</sup></abbr>)</span>
    </label>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
    <select id="gross-drainage-operator" name="gross_drainage_operator" class="form-control">
      <option value="&gt;" selected="selected">&gt;</option>
      <option value="&gt;=">&gt;=</option>
      <option value="&lt;">&lt;</option>
      <option value="&lt;=">&lt;=</option>
      <option value="=">=</option>
    </select>
  </div>
  <div class="col-lg-5 col-md-6 col-sm-5 col-xs-7">
    <label for="gross-drainage-area" class="wb-inv">
      <span class="field-name">Gross Drainage Area (<abbr title="Square kilometre(s)">km<sup>2</sup></abbr>)</span>
    </label>
    <input type="number" min="0" max="1800000" id="gross-drainage-area" name="gross_drainage_area" class="form-control" placeholder="0 - 1800000">
  </div>
</div>
            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="effective-drainage-operator">
      <span class="field-name">Effective Drainage Area (<abbr title="Square kilometre(s)">km<sup>2</sup></abbr>)</span></label>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
    <select id="effective-drainage-operator" name="effective_drainage_operator" class="form-control">
      <option value="&gt;" selected="selected">&gt;</option>
      <option value="&gt;=">&gt;=</option>
      <option value="&lt;">&lt;</option>
      <option value="&lt;=">&lt;=</option>
      <option value="=">=</option>
    </select>
  </div>
  <div class="col-lg-5 col-md-6 col-sm-5 col-xs-7">
    <label for="effective-drainage-area" class="wb-inv">
      <span class="field-name">Effective Drainage Area (<abbr title="Square kilometre(s)">km<sup>2</sup></abbr>)</span>
    </label>
    <input type="number" min="0" max="1800000" id="effective-drainage-area" name="effective_drainage_area" class="form-control" placeholder="0 - 1800000">
  </div>
</div>
            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="sediment">Sediment</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="sediment" name="sediment" class="form-control">
      <option value="---" selected="selected">---</option>
      <option value="Y">Yes</option>
      <option value="N">No</option>
    </select>
  </div>
</div>            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="real-time">Real-Time</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="real-time" name="real_time" class="form-control">
      <option value="---" selected="selected">---</option>
      <option value="Y">Yes</option>
      <option value="N">No</option>
    </select>
  </div>
</div>            <div class="row mrgn-bttm-md">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="rhbn"><abbr title="Reference Hydrometric Basin Network">RHBN - </abbr>National set</abbr></label>
    <p><a href="https://www.canada.ca/en/environment-climate-change/services/water-overview/quantity/monitoring/survey/data-products-services/reference-hydrometric-basin-network.html">Additional RHBN stations</a></p>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="rhbn" name="rhbn" class="form-control">
      <option value="---" selected="selected">---</option>
      <option value="Y">Yes</option>
      <option value="N">No</option>
    </select>
  </div>
</div>
            <div class="row">
  <div class="col-lg-5 col-md-4 col-sm-5">
    <label for="contributed">Contributed</label>
  </div>
  <div class="col-lg-7 col-md-8 col-sm-7">
    <select id="contributed" name="contributed" class="form-control">
      <option value="---" selected="selected">---</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
</div>          </div>
        </details>
        <input type="submit" value="Search" class="btn btn-primary mrgn-bttm-md">
      </form>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
      <div class="panel panel-primary">
    <header class="panel-heading">
      <h2 class="panel-title">
        <a href="/map/index_e.html?type=real_time&amp;default_marker=current_conditions"><abbr title="National Hydrological Services">NHS</abbr> Water Watch</a>
      </h2>
    </header>
    <div class="panel-body">
      <p class="mrgn-bttm-0">View the streamflow (discharge) current conditions by comparing the real-time discharge with the historical daily discharge.</p>
    </div>
  </div>
      <div class="panel panel-success">
    <header class="panel-heading">
      <h2 class="panel-title">
        <a href="/news_e.html"><span class="glyphicon glyphicon-bullhorn mrgn-rght-md"></span>News and Events</a>
      </h2>
    </header>
    <div class="panel-body panel-padding-hor">
      <ul class="small">
                <li><a href="/news_e.html#alert-4621">Wateroffice Release 60 (2026-09-17)</a> <span class="label label-warning">updated</span></li>
                <li><a href="/news_e.html#alert-4530">HYDAT Release (2026-07-17)</a></li>
                <li><a href="/news_e.html#alert-4311">Unit Data (2011 - 2026, updated on 2026-05-11)</a></li>
                <li><a href="/news_e.html#alert-5290">Updated drainage areas for WSC hydrometric basins </a></li>
                <li><a href="/news_e.html#alert-4650">Upcoming Enhancements to Network Change Communications </a></li>
                <li><a href="/news_e.html#alert-4490">Datamart URL change (2025-10-07)</a></li>
                <li><a href="/news_e.html#alert-4313">Auto-QAQC Pilot Launch (2025-06-02) </a></li>
                <li><a href="/news_e.html#alert-2950">Height Modernization Status</a></li>
              </ul>
    </div>
  </div>
        <div class="header-box default mrgn-bttm-md">
    <h2 class="h4 mrgn-tp-0 mrgn-bttm-0"><a href="/services/index_e.html">Web Service</a></h2>
  </div>
    <div class="header-box warning mrgn-bttm-md">
    <h2 class="h4 mrgn-tp-0 mrgn-bttm-0"><a href="https://weather.gc.ca/mainmenu/water_contact_us_e.html" target="_blank">Contact Us</a></h2>
  </div>
  <div class="panel panel-info">
    <header class="panel-heading">
      <h2 class="panel-title">Partners</h2>
    </header>
    <div class="panel-body">
      <ul class="list-unstyled mrgn-bttm-0">
                <li class="mrgn-bttm-sm">
          <a href="https://www.alberta.ca/water"><img src="/images/flag_icons/icon_AB.gif" alt="Alberta - Environment" class="mrgn-rght-md" width="30" height="20" title="Alberta - Environment"/></a>
          <a href="https://www.alberta.ca/water">Alberta</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://www2.gov.bc.ca/gov/content/environment/air-land-water/water"><img src="/images/flag_icons/icon_BC.gif" alt="British Columbia - Environment" class="mrgn-rght-md" width="30" height="20" title="British Columbia - Environment"/></a>
          <a href="https://www2.gov.bc.ca/gov/content/environment/air-land-water/water">British Columbia</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="http://www.gov.mb.ca/mit/wms/wm/index.html"><img src="/images/flag_icons/icon_MB.gif" alt="Manitoba - Environment" class="mrgn-rght-md" width="30" height="20" title="Manitoba - Environment"/></a>
          <a href="http://www.gov.mb.ca/mit/wms/wm/index.html">Manitoba</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://www2.gnb.ca/content/gnb/en/departments/elg/environment/content/water/content/water_quantity.html"><img src="/images/flag_icons/icon_NB.gif" alt="New Brunswick - Environment" class="mrgn-rght-md" width="30" height="20" title="New Brunswick - Environment"/></a>
          <a href="https://www2.gnb.ca/content/gnb/en/departments/elg/environment/content/water/content/water_quantity.html">New Brunswick</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://www.gov.nl.ca/eccm/waterres/"><img src="/images/flag_icons/icon_NL.gif" alt="Newfoundland and Labrador - Environment" class="mrgn-rght-md" width="30" height="20" title="Newfoundland and Labrador - Environment"/></a>
          <a href="https://www.gov.nl.ca/eccm/waterres/">Newfoundland and Labrador</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="http://www.enr.gov.nt.ca/en/services/water-management"><img src="/images/flag_icons/icon_NT.gif" alt="Northwest Territories - Environment" class="mrgn-rght-md" width="30" height="20" title="Northwest Territories - Environment"/></a>
          <a href="http://www.enr.gov.nt.ca/en/services/water-management">Northwest Territories</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://www.novascotia.ca/nse/surface.water/"><img src="/images/flag_icons/icon_NS.gif" alt="Nova Scotia - Environment" class="mrgn-rght-md" width="30" height="20" title="Nova Scotia - Environment"/></a>
          <a href="https://www.novascotia.ca/nse/surface.water/">Nova Scotia</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="http://www.sac-isc.gc.ca/eng/1100100034879/1521124927588"><img src="/images/flag_icons/icon_NU.gif" alt="Nunavut - Environment" class="mrgn-rght-md" width="30" height="20" title="Nunavut - Environment"/></a>
          <a href="http://www.sac-isc.gc.ca/eng/1100100034879/1521124927588">Nunavut</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://www.ontario.ca/page/environment-and-energy"><img src="/images/flag_icons/icon_ON.gif" alt="Ontario - Environment" class="mrgn-rght-md" width="30" height="20" title="Ontario - Environment"/></a>
          <a href="https://www.ontario.ca/page/environment-and-energy">Ontario</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://www.princeedwardisland.ca/en/topic/water"><img src="/images/flag_icons/icon_PE.gif" alt="Prince Edward Island - Environment" class="mrgn-rght-md" width="30" height="20" title="Prince Edward Island - Environment"/></a>
          <a href="https://www.princeedwardisland.ca/en/topic/water">Prince Edward Island</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="http://www.environnement.gouv.qc.ca/eau/inter_en.htm"><img src="/images/flag_icons/icon_QC.gif" alt="Quebec - Environment" class="mrgn-rght-md" width="30" height="20" title="Quebec - Environment"/></a>
          <a href="http://www.environnement.gouv.qc.ca/eau/inter_en.htm">Quebec</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://www.wsask.ca/"><img src="/images/flag_icons/icon_SK.gif" alt="Saskatchewan - Environment" class="mrgn-rght-md" width="30" height="20" title="Saskatchewan - Environment"/></a>
          <a href="https://www.wsask.ca/">Saskatchewan</a>
        </li>
                <li class="mrgn-bttm-sm">
          <a href="https://yukon.ca/en/emergencies-and-safety/floods/find-out-water-levels-yukon-lakes-and-rivers"><img src="/images/flag_icons/icon_YT.gif" alt="Yukon - Environment" class="mrgn-rght-md" width="30" height="20" title="Yukon - Environment"/></a>
          <a href="https://yukon.ca/en/emergencies-and-safety/floods/find-out-water-levels-yukon-lakes-and-rivers">Yukon</a>
        </li>
              </ul>
    </div>
  </div>
</div>
</div>
</div>
<section id="water-topics" class="container hidden-print">
  <h2 class="wb-inv">What we are doing</h2>
  <div class="row">
    <section class="col-lg-4 col-md-6">
      <h3>Real-time Data</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/search/real_time_e.html">Real-time Station Search</a></li>
        <li><a href="/map/index_e.html?type=real_time&amp;default_marker=data_availability">Real-time Map Search</a></li>
        <li><a href="/my_station_list/index_e.html">My Station List</a></li>
      </ul>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Historical Data</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/search/historical_e.html">Historical Station Search</a></li>
        <li><a href="/map/index_e.html?type=historical">Historical Map Search</a></li>
        <li><a href="/search/statistics_e.html">Additional Statistics</a></li>
      </ul>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Resources</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/disclaimer_info_e.html">Disclaimer for Hydrometric Information</a></li>
        <li><a href="/contactus/faq_e.html">Frequently Asked Questions</a></li>
                  <li><a href="https://www.canada.ca/en/environment-climate-change/services/meteorological-service-standards/publications/hydrometric-data-information.html">Hydrometric Data and Information Service Standards</a></li>
              </ul>
    </section>
  </div>
</section>
<section class="pagedetails container">
	<h2 class="wb-inv">Page details</h2>
  <div class="row"><div class="col-sm-8 col-md-9 col-lg-9">
<div data-ajax-replace="">
	<div class="row row-no-gutters">
    <div class="col-sm-9 col-md-6 col-lg-5">
      <a href="https://weather.gc.ca/mainmenu/water_contact_us_e.html" target="_blank" class="btn btn-default btn-block"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>Feedback<span class="wb-inv"> about this web site</span></a>		</div>
	</div>
</div>
			</div>
	</div>
			<dl id="wb-dtmd">
				<dt>Date modified:</dt>
				<dd><time property="dateModified">2026-09-11</time></dd>
			</dl>
</section>
</main>
<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>
  <div class="gc-contextual"><div class="container">
    <nav>
        <h3>Environment and natural resources</h3>
        <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
            <li><a href="https://weather.gc.ca/mainmenu/water_contact_us_e.html" target="_blank">Contact us</a></li>
            <li><a href="https://www.canada.ca/en/services/environment/our-environment.html">Our environment</a></li>
            <li><a href="https://www.canada.ca/en/services/environment/our-environment/nature-based-climate-solutions.html">Nature-based climate solutions</a></li>
        </ul>
    </nav>
</div></div>
	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Government of Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
					<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
					<li><a href="https://www.canada.ca/en/government/system.html">About government</a></li></ul>
				<h4><span class="wb-inv">Themes and topics</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
					<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finance</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous peoples</a></li>
					<li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
					<li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li></ul>
			</nav>
		</div>
	</div>
	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Government of Canada Corporate</h3>
				<ul>
					<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/vendor/wet/v13.4.0/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
			</div>
		</div>
	</div>
</footer>
<script src="/vendor/js/jquery-2.2.4.min.js"></script>
<script src="/vendor/wet/v13.4.0/wet-boew/js/wet-boew.min.js"></script>
<script src="/vendor/wet/v13.4.0/GCWeb/js/theme.min.js"></script>
<script src="/vendor/js/moment.js"></script>
<script src="/js/translations.js"></script>
<script src="/js/application.js"></script>
<script src="/js/contact_us.js"></script>
<script src="/js/Search.js"></script>
<script src="/js/SearchRadio.js"></script>
</body>
</html>
