<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Annual Maximum and Minimum Instantaneous Discharge Data for BULKLEY RIVER AT QUICK (08EE004) [BC] - Water Level and Flow - Environment Canada</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content=""><link href="/vendor/wet/v13.4.0/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/vendor/wet/v13.4.0/GCWeb/css/theme.min.css" />
<noscript><link rel="stylesheet" href="/vendor/wet/v13.4.0/wet-boew/css/noscript.min.css" /></noscript>
<link rel="stylesheet" href="/vendor/css/fontawesome/css/all.min.css"/>
<link href="/custom/application.css" rel="stylesheet"/>
<link href="/custom/print.css" rel="stylesheet"/>
<link href="/custom/report.print.css" rel="stylesheet"/>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CS8ZLP6TEM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CS8ZLP6TEM');
</script>
<nav>
	<ul id="wb-tphp">
		<li class="wb-slc">
<a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li></ul>
</nav>
<header>
<div id="wb-bnr" class="container">
<div class="row">
    <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
<h2 class="wb-inv">Language selection</h2>
<ul class="list-inline mrgn-bttm-0">
<li>
  <a lang="fr" hreflang="fr" href="//eau.ec.gc.ca/report/historical_f.html?stn=08EE004&amp;mode=Table&amp;dataType=Peak&amp;parameterType=Flow&amp;first_year=1948&amp;last_year=1948&amp;page=historical">
    <span class="hidden-xs" translate="no">Français</span>
    <abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
  </a>
</li>
</ul>
</section>
  <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
<a href="https://www.canada.ca/en.html" property="url">
<img src="/vendor/wet/v13.4.0/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
</a>
<meta property="name" content="Government of Canada">
<meta property="areaServed" typeof="Country" content="Canada" />
<link property="logo" href="/vendor/wet/v13.4.0/GCWeb/assets/wmms-blk.svg" />
</div>
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
<h2>Search</h2>
      <form action="https://canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
        <div class="form-group wb-srch-qry">
          <label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
          <input name="cdn" value="canada" type="hidden">
          <input name="st" value="s" type="hidden">
          <input name="num" value="10" type="hidden">
          <input name="langs" value="en" type="hidden">
          <input name="st1rt" value="1" type="hidden">
          <input name="s5bm3ts21rch" value="x" type="hidden">
          <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca">
          <input type="hidden" name="_charset_" value="UTF-8">
          <datalist id="wb-srch-q-ac">
          </datalist>
        </div>
        <div class="form-group submit">
          <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
        </div>
      </form></section>
</div>
</div>
<hr>
<div class="container">
<div class="row"><div class="col-md-8">
      <nav class="gcweb-menu" typeof="SiteNavigationElement">
<h2 class="wb-inv">Menu</h2>
<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
<ul role="menu" aria-orientation="vertical" data-ajax-replace="/data/pco-fetch/sitemenu-v2-en.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li></ul>
</nav>
    </div></div>
</div>
<nav id="wb-bc" property="breadcrumb">
<h2>You are here:</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
<li><a href="http://www.canada.ca/en/index.html">Home</a></li><li><a href="http://www.canada.ca/en/services/environment/index.html">Environment and natural resources</a></li><li><a href="/index_e.html">Water level and flow</a></li><li><a href="/mainmenu/historical_data_index_e.html">Historical Data</a></li><li><a href="/search/historical_e.html">Hydrometric Data Search</a></li>		</ol>
	</div>
</nav>
</header>
<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
<div class="container">
    <noscript>
    <div class="alert alert-warning">
      <p>JavaScript in your browser is turned off; for the site to function properly please enable JavaScript.</p>
    </div>
  </noscript>
    <h1 property="name" id="wb-cont">Annual Maximum and Minimum Instantaneous Discharge Data for BULKLEY RIVER AT QUICK (08EE004) [BC]</h1></div>
<div class="container">
  <ul class="nav nav-pills hidden-print mrgn-bttm-md pull-right">
  <li><a href="/report/historical_e.html?stn=08EE004&mode=Graph&dataType=Peak&parameterType=Flow&first_year=1948&last_year=1948&page=historical&year=2025&start_year=1850&end_year=2026">Graph</a></li>
  <li class="active disabled"><a href="/report/historical_e.html?stn=08EE004&mode=Table&dataType=Peak&parameterType=Flow&first_year=1948&last_year=1948&page=historical&year=2025&start_year=1850&end_year=2026">Table</a></li>
  <li><a href="/download/index_e.html?results_type=historical">Download?</a></li>
</ul>
<div class="clearfix"></div>
<form class="form-horizontal well hidden-print" method="get" action="/report/historical_e.html">
  <div class="row">
    <div class="col-md-4">
      <label for="station" class="mrgn-rght-md mrgn-bttm-md">Station:</label>
      <select id="station" name="stn" class="form-control short">
                <option value="08EE004" selected>08EE004</option>
              </select>
    </div>
    <div class="col-md-6">
      <label for="data-type" class="mrgn-rght-md mrgn-bttm-md">Data Type:</label>
      <select id="data-type" class="form-control short" name="dataType" data-attribute='{"08EE004":"Y"}'>
	              <option value="Daily">Daily</option>
                <option value="Monthly">Monthly</option>
                <option value="Annual Extremes">Annual Daily Extremes Data</option>
                <option value="Peak" selected>Annual Instantaneous Extremes Data</option>
                <option value="Real-Time">Real-Time</option>
              </select>
    </div>
    <div class="col-md-2 text-right"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="parameter-type" class="mrgn-rght-md  mrgn-bttm-md">Parameter Type:</label>
      <select id="parameter-type" name="parameterType" class="form-control short">
                <option value="Flow" selected>Flow</option>
                <option value="Level">Level</option>
              </select>
    </div>
    <div class="col-md-6">
          </div>
    <div class="col-md-2">
      <input type="submit" id="apply" class="btn btn-primary mrgn-bttm-sm btn-block" value="Apply"/>
    </div>
  </div>
  <input type="hidden" name="mode" value="Table"/>
                              </form>
<div class="table-responsive">
  <table class="table table-striped table-hover wb-tables" data-wb-tables='{ "paging" : false, "info" : false, "order" : [[ 0, "asc" ]], "columnDefs": [{ "type": "num", "targets": [2, 5] }] }'>
    <caption>This table provides annual maximum and minimum instantaneous value for a station.</caption>
    <thead>
      <tr>
        <th scope="colgroup" colspan="3" class="text-center">Maximum Instantaneous Discharge</th>
        <th scope="colgroup" colspan="3" class="text-center">Minimum Instantaneous Discharge</th>
      </tr>
      <tr>
        <th scope="col">Date/Time</th>
        <th scope="col">Timezone</th>
        <th scope="col">Value (<abbr title="Cubic metre(s) per second">m<sup>3</sup>/s</abbr>)</th>
        <th scope="col">Date/Time</th>
        <th scope="col">Timezone</th>
        <th scope="col">Value (<abbr title="Cubic metre(s) per second">m<sup>3</sup>/s</abbr>)</th>
      </tr>
    </thead>
    <tbody>
            <tr>
        <td>1930</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1930</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1931</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1931</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1932</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1932</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1933</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1933</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1934</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1934</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1935</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1935</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1936</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1936</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1937</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1937</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1938</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1938</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1939</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1939</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1940</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1940</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1941</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1941</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1942</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1942</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1943</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1943</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1944</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1944</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1945</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1945</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1946</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1946</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1947</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1947</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1948</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1948</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1949</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1949</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1950</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1950</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1951</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1951</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1952</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1952</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1953</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1953</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1954</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1954</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1955</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1955</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1956</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1956</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1957</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1957</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1958</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1958</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1959</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1959</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1960</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1960</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1961</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1961</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1962</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1962</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1963</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1963</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1964</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1964</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1965</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1965</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1966</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1966</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1967</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1967</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1968</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1968</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1969</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1969</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1970</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1970</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1971</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1971</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1972</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1972</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1973</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1973</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1974</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1974</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1975</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1975</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1976</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1976</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1977</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1977</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1978</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1978</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1979</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1979</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1980</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1980</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1981</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1981</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1982</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1982</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1983</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1983</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1984</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1984</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1985</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1985</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1986</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1986</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1987</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1987</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1988</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1988</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1989</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1989</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1990</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1990</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1991</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1991</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1992</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1992</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1993</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1993</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1994</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1994</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1995</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1995</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1996</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1996</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1997</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1997</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1998</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1998</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>1999</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>1999</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2000</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>2000</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2001</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>2001</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2002-06-16 20:00</td>
        <td>PST</td>
        <td data-sort="790">790&#160; </td>
        <td>2002</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2003-06-08 14:00</td>
        <td>PST</td>
        <td data-sort="394">394&#160; </td>
        <td>2003</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2004-05-05 12:00</td>
        <td>PST</td>
        <td data-sort="445">445&#160; </td>
        <td>2004</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2005-04-27 19:00</td>
        <td>PST</td>
        <td data-sort="600">600&#160; </td>
        <td>2005</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2006-06-03 11:40</td>
        <td>PST</td>
        <td data-sort="460">460&#160; </td>
        <td>2006</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2007</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>2007</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2008-05-28 17:15</td>
        <td>PST</td>
        <td data-sort="591">591&#160; </td>
        <td>2008</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2009-06-06 17:15</td>
        <td>PST</td>
        <td data-sort="582">582&#160; </td>
        <td>2009</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2010-06-03 13:30</td>
        <td>PST</td>
        <td data-sort="473">473&#160; </td>
        <td>2010</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2011-05-28 05:16</td>
        <td>PST</td>
        <td data-sort="967">967&#160; </td>
        <td>2011</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2012-06-25 19:11</td>
        <td>PST</td>
        <td data-sort="766">766&#160; </td>
        <td>2012</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2013-05-13 10:06</td>
        <td>PST</td>
        <td data-sort="484">484&#160; </td>
        <td>2013</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2014-05-19 11:16</td>
        <td>PST</td>
        <td data-sort="502">502&#160; </td>
        <td>2014</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2015-05-17 10:01</td>
        <td>PST</td>
        <td data-sort="780">780&#160; </td>
        <td>2015</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2016-04-25 01:16</td>
        <td>PST</td>
        <td data-sort="412">412&#160; </td>
        <td>2016</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2017-10-26 03:35</td>
        <td>PST</td>
        <td data-sort="793">793&#160; </td>
        <td>2017</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2018</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>2018</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2019-05-26 12:00</td>
        <td>PST</td>
        <td data-sort="416">416&#160; </td>
        <td>2019</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2020-05-19 14:15</td>
        <td>PST</td>
        <td data-sort="451">451&#160; </td>
        <td>2020</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2021-06-03 10:25</td>
        <td>PST</td>
        <td data-sort="560">560&#160; </td>
        <td>2021</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2022-06-06 19:15</td>
        <td>PST</td>
        <td data-sort="708">708&#160; </td>
        <td>2022</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2023-05-17 04:15</td>
        <td>PST</td>
        <td data-sort="665">665&#160; </td>
        <td>2023</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2024-11-09 03:45</td>
        <td>PST</td>
        <td data-sort="335">335&#160; </td>
        <td>2024</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
            <tr>
        <td>2025</td>
        <td></td>
        <td data-sort="">&#160;</td>
        <td>2025</td>
        <td></td>
        <td data-sort="">&#160;</td>
      </tr>
          </tbody>
  </table>
</div>
<br/>
<div class="col-md-3">
 <div class="panel panel-default">
  <div class="panel-body">
   <h5 class="mrgn-tp-0">Legend</h5>
    <dl class="dl-horizontal brdr-0" class="mrgn-bttm-none">
    <dt>A</dt>
    <dd>Partial Day</dd>
    <dt>D</dt>
    <dd>Dry</dd>
    <dt>R</dt>
    <dd>Revised</dd>
    <dt>B</dt>
    <dd>Ice Conditions</dd>	
    <dt>E</dt>	
    <dd>Estimated</dd>
    </dl>
  </div>
 </div>
</div>
<div class="clearfix"></div>
<section>
  <h2>Station Information</h2>
  <div class="metadata">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="active" class="col-xs-6"><b>Active or discontinued:</b></div>
          <div aria-labelledby="active" class="col-xs-6">Active</div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="province" class="col-xs-6"><b>Province / Territory:</b></div>
          <div aria-labelledby="province" class="col-xs-6">British Columbia</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="latitude" class="col-xs-6"><b>Latitude:</b></div>
          <div aria-labelledby="latitude" class="col-xs-6">54<abbr title="degrees">°</abbr>&#160;37<abbr title="minute">&apos;</abbr>&#160;06<abbr title="second">&quot;</abbr>&#160;<abbr title="North">N</abbr></div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="longitude" class="col-xs-6"><b>Longitude:</b></div>
          <div aria-labelledby="longitude" class="col-xs-6">126<abbr title="degrees">°</abbr>&#160;53<abbr title="minute">&apos;</abbr>&#160;59<abbr title="second">&quot;</abbr>&#160;<abbr title="West">W</abbr></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="gross-drainage" class="col-xs-6"><b>Gross drainage area:</b></div>
          <div aria-labelledby="gross-drainage" class="col-xs-6">7,341 <abbr title="Square kilometre(s)">km<sup>2</sup></abbr></div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="effective-drainage" class="col-xs-6"><b>Effective drainage area:</b></div>
          <div aria-labelledby="effective-drainage" class="col-xs-6">N/A</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="record-length" class="col-xs-6"><b>Record length:</b></div>
          <div aria-labelledby="record-length" class="col-xs-6">97 Years</div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="record-period" class="col-xs-6"><b>Period of record:</b></div>
          <div aria-labelledby="record-period" class="col-xs-6">1930-2026</div>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="regulation-type" class="col-xs-6"><b>Regulation type:</b></div>
          <div aria-labelledby="regulation-type" class="col-xs-6">Natural</div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="regulation-length" class="col-xs-6"><b>Regulation length:</b></div>
          <div aria-labelledby="regulation-length" class="col-xs-6">N/A</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="realtime-data" class="col-xs-6"><b>Real-time data available:</b></div>
          <div aria-labelledby="realtime-data" class="col-xs-6">Yes</div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="sediment-data" class="col-xs-6"><b>Sediment data available:</b></div>
          <div aria-labelledby="sediment-data" class="col-xs-6">Yes</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="water-body" class="col-xs-6"><b>Type of water body:</b></div>
          <div aria-labelledby="water-body" class="col-xs-6">River</div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="rhbn" class="col-xs-6"><b>RHBN:</b></div>
          <div aria-labelledby="rhbn" class="col-xs-6">No</div>
        </div>
      </div>
    </div>
        <div class="row">
     <div class="col-md-6 col-xs-12">
       <div class="row">
         <div id="regional-office" class="col-xs-6"><b>Publishing Office:</b></div>
         <div aria-labelledby="regional-office" class="col-xs-6">VANCOUVER</div>
       </div>
     </div>
          <div class="col-md-6 col-xs-12">
       <div class="row">
         <div id="operation-schedule" class="col-xs-6"><b>Current Operation Schedule:</b></div>
         <div aria-labelledby="operation-schedule" class="col-xs-6">Continuous</div>
      </div>
     </div>
         </div>
        <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="contributed-by" class="col-xs-6"><b>Data contributed by:</b></div>
          <div aria-labelledby="contributed-by" class="col-xs-6">N/A</div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="operation-period" class="col-xs-6"><b>Operation Period:</b></div>
	  <div aria-labelledby="operation-period" class="col-xs-6">JAN - DEC</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="published-data" class="col-xs-6"><b>Vertical datum of published data:</b></div>
          <div aria-labelledby="published-data" class="col-xs-6">ASSUMED DATUM</div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div id="datum-data" class="col-xs-6"><b>Datum Conversions:</b></div>
          <div aria-labelledby="datum-data" class="col-xs-6"><a href="/report/datum_e.html?stn=08EE004&mode=Table">More information</a></div>
        </div>
      </div>
    </div>
      </div>
</section>
<div class="container"></div>
<section>
  <h2>Data Collection History</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <caption>This table contains information pertaining to the historical changes of defined elements in the operation of a station.</caption>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Type</th>
          <th scope="col">Operation schedule</th>
          <th scope="col">Gauge type</th>
        </tr>
      </thead>
      <tbody>
                <tr>
          <td>1930 - 1930</td>
          <td>Flow</td>
          <td>Seasonal</td>
          <td>Manual</td>
        </tr>
                <tr>
          <td>1931 - 1931</td>
          <td>Flow</td>
          <td>Continuous</td>
          <td>Manual</td>
        </tr>
                <tr>
          <td>1932 - 1945</td>
          <td>Flow</td>
          <td>Seasonal</td>
          <td>Manual</td>
        </tr>
                <tr>
          <td>1946 - 1954</td>
          <td>Flow</td>
          <td>Continuous</td>
          <td>Manual</td>
        </tr>
                <tr>
          <td>1955 - 1956</td>
          <td>Flow</td>
          <td>Seasonal</td>
          <td>Manual</td>
        </tr>
                <tr>
          <td>1957 - 2001</td>
          <td>Flow</td>
          <td>Continuous</td>
          <td>Manual</td>
        </tr>
                <tr>
          <td>2002 - 2010</td>
          <td>Flow</td>
          <td>Continuous</td>
          <td>Recorder</td>
        </tr>
                <tr>
          <td>2011 - 2026</td>
          <td>Flow &amp; Level</td>
          <td>Continuous</td>
          <td>Recorder</td>
        </tr>
              </tbody>
    </table>
  </div>
</section>
<p>Click <a href="/report/remarks_e.html?type=h2oArc&amp;stn=08EE004&amp;mode=Table&amp;dataType=Peak&amp;parameterType=Flow&amp;first_year=1948&amp;last_year=1948&amp;page=historical&amp;year=2025&amp;start_year=1850&amp;end_year=2026">here</a> for further information on remarks.</p></div>
<section id="water-topics" class="container hidden-print">
  <h2 class="wb-inv">What we are doing</h2>
  <div class="row">
    <section class="col-lg-4 col-md-6">
      <h3>Real-time Data</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/search/real_time_e.html">Real-time Station Search</a></li>
        <li><a href="/map/index_e.html?type=real_time&amp;default_marker=data_availability">Real-time Map Search</a></li>
        <li><a href="/my_station_list/index_e.html">My Station List</a></li>
      </ul>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Historical Data</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/search/historical_e.html">Historical Station Search</a></li>
        <li><a href="/map/index_e.html?type=historical">Historical Map Search</a></li>
        <li><a href="/search/statistics_e.html">Additional Statistics</a></li>
      </ul>
    </section>
    <section class="col-lg-4 col-md-6">
      <h3>Resources</h3>
      <ul class="mrgn-bttm-lg">
        <li><a href="/disclaimer_info_e.html">Disclaimer for Hydrometric Information</a></li>
        <li><a href="/contactus/faq_e.html">Frequently Asked Questions</a></li>
                  <li><a href="https://www.canada.ca/en/environment-climate-change/services/meteorological-service-standards/publications/hydrometric-data-information.html">Hydrometric Data and Information Service Standards</a></li>
              </ul>
    </section>
  </div>
</section>
<section class="pagedetails container">
	<h2 class="wb-inv">Page details</h2>
  <div class="row"><div class="col-sm-8 col-md-9 col-lg-9">
<div data-ajax-replace="">
	<div class="row row-no-gutters">
    <div class="col-sm-9 col-md-6 col-lg-5">
      <a href="https://weather.gc.ca/mainmenu/water_contact_us_e.html" target="_blank" class="btn btn-default btn-block"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>Feedback<span class="wb-inv"> about this web site</span></a>		</div>
	</div>
</div>
			</div>
	</div>
			<dl id="wb-dtmd">
				<dt>Date modified:</dt>
				<dd><time property="dateModified">2026-09-11</time></dd>
			</dl>
</section>
</main>
<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>
  <div class="gc-contextual"><div class="container">
    <nav>
        <h3>Environment and natural resources</h3>
        <ul class="list-col-xs-1 list-col-sm-2 list-col-md-3">
            <li><a href="https://weather.gc.ca/mainmenu/water_contact_us_e.html" target="_blank">Contact us</a></li>
            <li><a href="https://www.canada.ca/en/services/environment/our-environment.html">Our environment</a></li>
            <li><a href="https://www.canada.ca/en/services/environment/our-environment/nature-based-climate-solutions.html">Nature-based climate solutions</a></li>
        </ul>
    </nav>
</div></div>
	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Government of Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
					<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
					<li><a href="https://www.canada.ca/en/government/system.html">About government</a></li></ul>
				<h4><span class="wb-inv">Themes and topics</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
					<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finance</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous peoples</a></li>
					<li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
					<li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li></ul>
			</nav>
		</div>
	</div>
	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Government of Canada Corporate</h3>
				<ul>
					<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/vendor/wet/v13.4.0/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
			</div>
		</div>
	</div>
</footer>
<script src="/vendor/js/jquery-2.2.4.min.js"></script>
<script src="/vendor/wet/v13.4.0/wet-boew/js/wet-boew.min.js"></script>
<script src="/vendor/wet/v13.4.0/GCWeb/js/theme.min.js"></script>
<script src="/vendor/js/moment.js"></script>
<script src="/js/translations.js"></script>
<script src="/js/application.js"></script>
<script src="/js/contact_us.js"></script>
</body>
</html>
